<div class="tutorial">
  <div class="inner-content main-title">
  <h2>
    Introduction
  </h2>
  <p>
  In this tutorial you will learn to register your SendBlaster Free Edition.
  </p>
  <h3>Why do I need to register my SendBlaster Free Edition?</h3>
  <p>
    Well, you may use SendBlaster Free edition for lifetime, that´s correct, <b>there´s no time limitation</b>. However, notice that after using SendBlaster Free edition for 7 days, you´re required to register and get a Free License.
  </p>    
</div>

<div class="inner-content main-title clearfix">
    <h2>
        Registering SendBlaster Free Edition
    </h2>
<p>
  In order to Register SendBlaster Free Edition, please navigate to the 
  <a class="font-weight-bold" href="https://www.sendblaster.com/register/" title="Register SendBlaster" target="_blank">official free registration page</a>.
</p>
 <p>
  Make sure you fill all mandatory information, and check <i>"I accept privacy conditions"</i>, then hit the <b><i>confirm</i></b> button.
</p>
<p>
  You will then receive an email containing important information, and of course your Free License details that would look like:
</p>
<p>
    <img class="screenshotcentered" src="./assets/img/register-free/registration-mail.png" alt="SendBlaster Free License Email">    
</p>
<p class="info clearfix">
    <span class="font-weight-bold">Note:</span> If you do not receive your Free license email, check on the spam box, just in case. 
    You may also want to whitelist email address register@sendblaster.com.<br/>
    If you still have problems getting your Free license, please 
    <a class="font-weight-bold" target="_blank" href="https://www.sendblaster.com/services/support/ticketing/system/?lang=en" title="Submit Trouble Ticket">Submit a trouble ticket</a>.
  </p>
 </div>

<div class="inner-content main-title clearfix">
    <h2>
        Showing the License Details window
    </h2>
<img class="screenshot" src="./assets/img/register-free/sendblaster-free-splash.png" alt="Inserting Free License Details in Splash Screen">    
<p>
Every time SendBlaster starts, it shows a splash screen while it´s being initialized, hit the <b><i>square</i></b> button to display the License window.
</p>
</div>

<div class="inner-content main-title clearfix">
    <h2>
        Inserting Free License Details in SendBlaster
    </h2>
<div style="overflow: hidden;">
<img class="screenshot" src="./assets/img/register-free/registration-window.png" alt="SendBlaster Liceense Agreement.">    
<p>
    In this screen, you need to enter your Free license details that have been sent to you via email.
</p>
<p>
    <span class=field>Email address used for registration</span>: Enter the email address you used to register your SendBlaster Free License
    <br/>
    <span class=field>License Key</span>: Enter your Free License key. License key is a string of 5 sets of 4 numbers/letters, ie: 8685-686A-4862-7772-7C41
</p>
</div>
<p class="info clearfix">
    <span class="font-weight-bold">Note:</span> It´s highly suggested that you copy/paste details from the registration email into the License window
    instead of typing this details, in order to avoid any typo.
    If the <em><b>"Ok"</b></em> button does not get enabled, it means that the license details are incorrect.
  </p>
</div>

<div class="inner-content main-title clearfix">
    <h2>
        Verifying Registration
    </h2>
    <div style="overflow: hidden;">   
    <img class="screenshot" src="./assets/img/register-free/sendblaster-registered-free.png" alt="Verifying SendBlaster Registration">
    <p>
        Verify that your Free License details appear in SendBlaster Splash screen. Now, you´re ready to go!
    </p>
    </div>
</div>

<div class="inner-content main-title clearfix">
    <h2>
        Suggested Tutorials:
    </h2>
    <div style="overflow: hidden;">   
        <ul>
            <li><a class="font-weight-bold" routerLink = "/tutorials/sending-your-first-newsletter">Sending your first email</a></li>
        </ul>
</div>
</div>

<div #TroubleShooting class="inner-content main-title clearfix">
    <h2>
        Troubleshooting SendBlaster Free Registration
    </h2>
<p>
If you face any problem during SendBlaster Free Registration, or you have any question related to this process, please submit a <b>Trouble Ticket</b> by using the bellow button:
</p>
<p style="text-align: center; "><a target="_blank" href="https://www.sendblaster.com/services/support/ticketing/system/?lang=en" title="Submit Trouble Ticket" class="submit-ticket">Submit Trouble Ticket</a></p> 
</div>

</div>
