<!--The content below is only a placeholder and can be replaced.-->
<div id="page">
  <div id="main">
    <div id="logo">
      <p>
        <a href="https://www.sendblaster.com" title="Go back to the homepage">
          <img width="324" height="54" src="../assets/img/logo.png" alt="SendBlaster bulk email software">
        </a>
      </p>
    </div>

    <ul class="horizontalList">
      <li class="main-section">
        <a href="https://www.sendblaster.com/desktop-e-mail-marketing-software-features/">
          <div>Home</div>
        </a>
      </li>
      <li class="main-section">
        <a href="https://www.sendblaster.com/desktop-e-mail-marketing-software-features/">
          <div>Home2</div>
        </a>
      </li>
    </ul>
  </div>

<div class="main-title" >
  <div class="main-title-inner">
    Trouble Ticket Support
  </div>
</div>
</div>

<router-outlet></router-outlet>