#page{
    border-color: #e6e6e6;
    border-width: 0;
    background: transparent;
    color: #666666 !important; 
 }

 #main{
    width: 968px;
    margin: 0 auto;
    display: table;    
}

#logo{
    float:left;
}

ul.horizontalList{
    padding-top: 30px;
    float: right;
}

ul.horizontalList li{
    width: auto;
    float: left;
    flex-direction: row;
    list-style: none;
    padding-left: 25px;
}

li.main-section a, a:link, a:visited, a:focus, a:hover, a:active{
    color: #666666;
    font-weight: 300;
    font-size: 100%;      
}

.main-title{
    background-color: #2895c2;
    color: white;
}

.main-title-inner{
    margin: 0 auto;
    height: 64px;
    width: 968px;
    font-weight: normal;
    font-size: 32px;
    font-family: "Muli";
    line-height: 64px;
    vertical-align: middle;
}

.body-inner{
    margin: 0 auto;
    min-height: 64px;
    width: 968px;
    overflow: hidden;
    background: #efefef !important;
}

.inner-content{
    background: #fff;
    padding: 0.5rem;
    margin-bottom: 25px;
    box-sizing: inherit;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #222222;
}

.inner-content p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.inner-content h2{
    width: 100%;
    margin: 0 0 1.5rem;
    font-size: 2em;
    font-weight: 700;
    font-family: Noto Sans;
}

.inner-content a{
    cursor: pointer;
    text-decoration: none;
    border-width: 0;
    border-style: solid;
    color: #2895c2;
}

.inner-content a:hover{
    cursor: pointer;
    text-decoration: none;
    border-width: 0;
    border-style: solid;
    color: black;
}

.tutorial{
    background: #efefef!important;
}

.font-weight-bold{
    font-weight: bold !important;
}

.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    padding: 4px 12px;
}

.success {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
    padding: 4px 12px;
}

.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    padding: 4px 12px;
}


.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    padding: 4px 12px;
}

a.download-button{
    background-color: #39b54a;
    color: #fff !important;
    padding: 15px 40px 18px;
    border-radius: 15px;
    font-size: 18px;
    line-height: 18px;
    margin: 15px 10px;
    display: inline-block;
}

a.download-button:hover{
    background-color: #88d392;
}

a.submit-ticket{
    background-color: #ccc;
    color: #333 !important;
    padding: 15px 40px 18px;
    border-radius: 15px;
    font-size: 18px;
    line-height: 18px;
    margin: 15px 10px;
    display: inline-block;
}

a.submit-ticket:hover{
    background-color: #efefef;
}

img.screenshot{
    width: 435px;
    height: 282px;
    float: left;
    margin: 0 20px 20px 0;
}

img.screenshotcentered{
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    display: table;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.field{
    font-weight: bold;
    font-style: italic;
    color: #ff6600;
}