.grid-top-pad{
    padding-top: 20px;
}

.card-wrap{
    padding-left: 10px!important;
    padding-right:10px!important;
    width: 31.1%;   
    float: left;
    position: relative;     
}

.card {
    min-height: 1px;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    margin: 0 0 20px;
}

.card .title{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    line-height: 24px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card a.card-content:hover {
    color: #338fed!important;
}

.card-content-frame{
    background-color: white;
}

.card .desc {
    margin: 5px 0 0;
    color: #777;
    font-size: .9em;
    line-height: 1.4;
    max-height: 40px;
    overflow: hidden;
    text-decoration: none!important;
    text-decoration-style: none!important;
    text-decoration-color: inherit;
}

.card-image{
    height: 150px;
}

.image-bg{
    height: 150px;
    background-repeat: no-repeat;
    background-size: 100% 100%;  
    background-position: center;
    opacity: 0.8;
}

.image-bg:hover{
    opacity: 1;
}

.card a.card-content:link, .card a.card-content:visited {
    color: #000;
}

.card .card-content.fixed {
    min-height: 1px;
}

.card .card-content {
    padding: 16px;
    display: block;
}

a {
    background: 0 0;
    text-decoration: none;
    transition: .5s;
}

.card .card-bottom {
    position: relative;
    border-top: 1px solid rgba(0,0,0,.08);
    margin: 0 16px;
    color: #777;
    min-height: 1px;
    font-size: .8em;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card .card-bottom>span {
    vertical-align: top;
}

.card .card-bottom .diff-badge.beginner {
    background-color: #9cc364;
}
.card .card-bottom .diff-badge {
    vertical-align: top;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin: 9px 8px 0 0;
}